* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';
}

body {
    transition: background 1s;
}

.body-dark {
    background: hsl(235, 21%, 11%);
}

.body-light {
    background: hsl(236, 33%, 92%);
}

.header-container {
    height: 260px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 40px;
    transition: background 1s;
}

.header-dark {
    background: url(../images/bg-mobile-dark.jpg) no-repeat;
    background-size: cover;
}

.header-light {
    background: url(../images/bg-mobile-light.jpg) no-repeat;
    background-size: cover;
}

.header-container h1 {
    color: hsl(0, 0%, 98%);
    letter-spacing: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    
}

.sun {
    background: url(../images/icon-sun.svg) no-repeat center;
}

.moon {
    background: url(../images/icon-moon.svg) no-repeat center;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 140px;
}

.container-dark {
    background: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
    transition: background 1s, color 1s;
    
}

.container-light {
    background: hsl(0, 0%, 98%);
    color: hsl(235, 19%, 35%);
    transition: background 1s, color 1s;
}

.new-todo-container {
    width: 80%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  
}

#new-todo {
    border: none;
    outline: none;
    font-size: 1em;
    margin-top: 5px;
}

#new-todo-btn:hover {
    background-color: hsl(234, 11%, 52%);
}

#new-todo-btn:active {
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.circle-icon {
    background-color: transparent;
    outline: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid hsl(237, 14%, 26%);
    margin-right: 10px;
}


.todo-list-container {
    width: 80%;
    margin-top: 25px;
}

.todo-item-container, .todo-list-footer-container, .filter-container {
    height: 60px;
    display: flex;
    align-items: center;
}

.todo-item-container {
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid hsl(234, 11%, 52%);
    z-index: 10;
}

.todo-info-container {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.clear-btn {
    margin-right: 20px;
    border: none;
    font-size: 1.2em;
    position: relative;
    width: 20px;
    height: 20px;
    background: transparent;
    outline: none;
}

.clear-btn::before {
    content: "";
    display: block;
    position: absolute;
    left: -3px;
    top: 4px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid hsl(233, 14%, 35%);
    border-right: 2px solid hsl(233, 14%, 35%);
    transform: rotate(-45deg);

}

.clear-btn:hover::before {
    border-color: hsl(234, 39%, 85%);
}

.clear-btn:hover::after {
    border-color: hsl(234, 39%, 85%);
}

.clear-btn::after {
    content: "";
    display: block;
    position: absolute;
    left: 11px;
    top: 4px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid hsl(233, 14%, 35%);
    border-left: 2px solid hsl(233, 14%, 35%);
    transform: rotate(45deg);

}

.todo-item-container:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}



.checkmark-container {
    position: relative;
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.checkmark-container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -2px;
}


.checkmark-container:hover input ~ .checkmark {
    background-color: hsl(234, 11%, 52%);
}

.checkmark-container input:checked ~ .checkmark {
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 10px;
    top: 7px;
    width: 3px;
    height: 6px;
    border: solid hsl(0, 0%, 98%);;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark-container input:checked ~ .checkmark:after {
    display: block;
    text-decoration: line-through;
}


.todo-item-container p {
    font-size: 1em;
}

.todo-painel {
    width: 80%;
    position: relative;
}

.todo-list-footer-container {
    width: 100%;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 25px;
    color: hsl(234, 11%, 52%)
}

#clear-completed:hover {
    color: hsl(236, 33%, 92%)
}

.filter-container {
    margin-top: 25px;
    width: 100%;
    border-radius: 10px;
    color: hsl(234, 11%, 52%);
    font-weight: bold;
    justify-content: center;
}

.filter-container p {
    margin-left: 20px;
}

.filter-container p:first-child {
    margin-left: 0;
}

.filter-container p:hover {
    color: hsl(236, 33%, 92%);
}

.filter-select {
    color: hsl(220, 98%, 61%);
}

.drag-drop-container {
    margin-top: 60px;
    color: hsl(234, 11%, 52%);
    font-weight: bold;
}

.attribution {
    margin-top: 60px;
     font-size: 11px; text-align: center;
     color: hsl(236, 33%, 92%);
}

.attribution a {
     color: hsl(228, 45%, 44%);
}
  

@media(min-width:600px) {
    .header-container {
        align-items: flex-start;
        justify-content: space-around;
        padding: 60px 0;
    }

    .new-todo-container, .todo-list-container, .todo-painel {
        width: 500px;
    }

    .todo-painel{
        font-size: .8em;
    }

    .filter-container {
        width: 45%;
        height: 90%;
        position: absolute;
        top: -22px;
        left: 130px;
    }

    .drag-drop-container {
        font-size: .8em;
    }
}

@media(min-width:900px) {
    .header-container {
        padding: 60px 20%;
    }
}